* {box-sizing:border-box;}

body, a {
  cursor: url(../img/enter_cursor.png), auto;
}


.gif {
  display: flex;
  justify-content: center;
  cursor: url(../img/enter_cursor.png), auto;
}

img {
  width: 90%;
  display: flex;
  margin-top: 15%;
  cursor: url(../img/enter_cursor.png), auto;
}

img:hover {
}
