body{
  background-color: #8f9194;
  color: #b1b3b6;
  font-family: "Arial";
  font-size: 50px;
  padding: 50px 300px 100px 100px;
}

a {
  color: #b1b3b6;
  font-family: "Garamond";
  font-size: 51px;
  text-decoration: none;
  display: in-line;
}

a:hover {
  color: #0000ff;
}

.black {
  border-bottom: 2px solid;
  line-height: 50px;
  margin: 20px 0;
}

.goback {
  color: #000000;
  font-family: "Garamond";
  font-size: 50px;
  text-decoration: none;
  position: relative;
}

.goback:hover {
  color: #8f9194;
}

#galapagos{
  width: 35%;
  position: absolute;
  margin-left: auto;
  margin-right:auto;
  margin-top: 2450px;
  margin-bottom: 10px;
  padding-left: 400px;
  padding-top: 100px;
}
