
h1 {
  color: black;
}
main{
  color: grey;
}

.img {
  display: flex;
  flex-direction: column;
  flex: 2;
  justify-content: space-between;
  position: absolute;
  left: 15%;
  top: 57%;
  z-index: 0;
}

.galapagos{
  width: 60%;
  position: absolute;
  display: flex;
}

.galapagos:hover{
  transition: 0.3s;
  filter: blur(1px);
}

.avarit:hover {
  transition: 0.3s;
  filter: blur(2px);
}

.avarit {
  width: 50%;
  display: flex;
  margin-top: 80%;
}


ul {
  list-style-type: none;
}

::selection {
  color: blue;
}
