
h1 {
  color: black;
}
main{
  color: grey;
}

.img {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 15%;
  top: 57%;
  z-index: 0;
}

.galapagos{
  width: 60%;
  position: absolute;
  display: flex;
}


.avarit {
  width: 50%;
  display: flex;
  margin-top: 80%;
}


ul {
  list-style-type: none;
}

::selection {
  color: blue;
}
