
h1 {
  display: flex;
  position: absolute;
  font-family: "saffran";
  font-weight: 400;
  font-size: 60px;
  margin-top: 200px;
  background: linear-gradient(black 50%, grey);
  -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
  line-height: 1.05em;
  padding-bottom: 10px;
  display: flex;
  left: 50%;
  margin-bottom: 0;
}



main{
  color: grey;
  font-family: "roboto mono";
  font-weight: 100;
  font-size: 20px;
  position: absolute;
  left: 50%;
  right: 150px;
  margin-bottom: 70px;
  margin-top: 370px;
  line-height: 1.4em;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: red;
}


.goback {
  color: #000000;
  font-family: "Garamond";
  font-size: 50px;
  text-decoration: none;
  position: relative;
}

.goback:hover {
  color: #8f9194;
}

#galapagos{
  width: 35%;
  position: absolute;
  margin-left: auto;
  margin-right:auto;
  margin-top: 2450px;
  margin-bottom: 10px;
  padding-left: 400px;
  padding-top: 100px;
}

ul {
  list-style-type: none;
}

::selection {
  color: black;
}
