@font-face {
  font-family: BRAILLE1;
  src: url(../fonts/BRAILLE1.ttf);
}

body{
  background-color: #0000FF;
  color: #b1b3b6;
  font-family: "Arial";
  font-size: 50px;
  padding: 200px 300px 100px 100px;
}

#grid img{
  height: 110%;
  width: 110%;
}

#grid img:hover {
  background: url("../img/02-BRAILLE/braille_dots_nogrid-11.png") no-repeat scroll center center;
  background-size: cover;
  background-position: 0, 0;
}

#nogrid img{
  height: 110%;
  width: 110%;
}

#nogrid img:hover {
  background: url("../img/02-BRAILLE/braille_dots_nogrid-11.png") no-repeat scroll center center;
  background-size: cover;
  background-position: 0, 0;
}


.back {
  color: #000000;
  font-family: "Garamond";
  font-size: 50px;
  text-decoration: none;
  margin-top: 100px;
}

.back:hover {
  color: #0000FF;
}

::selection {
  background: #000000;
}

p {
  color: #0000B4;
  font-family: Arial;
  font-size: 50px;
  text-decoration: none;
  padding-left: 50px;
  display:in-line;
}

a {
  text-decoration: none;
  font-family: Garamond;
  color: #0000B4
}

a:hover {
  font-family: BRAILLE1;
  font-size: 28px;
  position: inherit;
  color: white;
}
