header {
  background-color: black;
  border-bottom: 1px solid white;
}

body{
  background-color: black;
}

h1 {
  color: white;
  top: 104%;
}

main {
  position: absolute;
  top: 125vh;
}

p {
  color: white;
}

.fwd, .back, .home {
  color: white;
  top: -2.2%;
}

.home {
  top: -1%;
}

.letter {
  position: absolute;
  z-index: 5;
  cursor: url('../cursors/handopen.png'), auto;
}

.letter.a{
  top: 29vh;
  left: 6.5vw;
  width: 92px;
  height: 92px;
}

.letter.a img {
  position: absolute;
  width: 100%;
}

.letter.b {
  top: 27vh;
  left: 20.5vw;
  width: 120px;
  height: 220px;
}

.letter.b img {
  position: absolute;
  width: 100%;
}

.letter.c {
  top: 27.5vh;
  left: 36vw;
  width: 150px;
  height: 120px;
}

.letter.c img{
  width: 150px;
  height: 120px;
}

.letter.d {
  top: 26.5vh;
  left: 51.5vw;
  width: 200px;
  height: 221px;
}

.letter.d img {
  width: 200px;
  height: 221px;
}

.letter.e {
  top: 26vh;
  left: 67vw;
  width: 200px;
  height: 225px;
}

.letter.e img {
  width: 200px;
  height: 225px;
}

.letter.f {
  top: 26vh;
  left: 81.5vw;
}

.letter.f img {
  width: 200px;
}

.bare-grid{
  height: 400px;
  position: absolute;
  top: 21.5vh;
  left: 3.5vw;
  z-index: 0;
  cursor: url('../cursors/handopen.png'), auto;
}

.black-bar {
  position: absolute;
  top: 21vh;
  left: 0;
  width: 1430px;
  height: 20px;
  z-index: 2;
  background-color: black;
}


a:hover {
  color: white;
  cursor: grabbing;
}

::selection {
  opacity: 0;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: black;
    /* border-right: 1px solid blue; */
    border-left: 1px solid white;
}

body::-webkit-scrollbar-thumb {
   border: 1px solid white;
}
