.line {
   border-left: 1px solid grey;
   height: 14350px ;
   position: absolute;
   left: -10%;
   margin-left: -10px;
   margin-top: 290px;
}


body {
  background-color: white;
  margin: 100px;
  font-family:avenir;
  flex-direction: column;
  flex:1;
  column-width: 200px;
  margin-left: 650px;
  column-count: 1;
  font-size: 20px;
  position: absolute;
  line-height: 1.7em;
}

h2 {
  font-size: 70px;
  margin: 0;
  margin-bottom: 10px;
  font-family: dapiferstencil, serif;
  font-style: normal;
  font-weight: 500;
}

.callout-1 {
  font-size: 30px;
  line-height: 1.5em;
  margin-left: 0;
  position: absolute;
  left: -80%;
  display:flex;
  flex:1;
  margin-right: 860px;
  margin-top: 780px;
  font-family: dapiferstencil, serif;
  font-style: normal;
  font-weight: 600;
  color: black;
}

.callout-1:hover {
  color: grey;
  background-color: white;
}

.callout-2 {
  font-size: 30px;
  line-height: 1.5em;
  margin-left: 0;
  position: absolute;
  left: -80%;
  display:flex;
  flex:1;
  margin-right: 860px;
  margin-top:1200px;
  font-family: dapiferstencil, serif;
  font-style: normal;
  font-weight: 600;
  color: black;
}

.callout-2:hover {
  color: grey;
  background-color: white;
}


.callout-3 {
  font-size: 30px;
  line-height: 1.4em;
  margin-left: 0;
  position: absolute;
  left: -80%;
  display:flex;
  flex:1;
  margin-right: 860px;
  margin-top:1800px;
  font-family: dapiferstencil, serif;
  font-style: normal;
  font-weight: 500;
  color: black;
}

#callout div{
  margin: 0;
}

.subhead p{
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  margin-top: 50px;
}

.byline p{
  font-size: 15px;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  color: grey;
  line-height: 1.4em;
}

.about-author p{
  margin-left: 0;
  position: absolute;
  left: -60%;
  flex-direction: column;
  flex:1;
  column-width: 200px;
  column-count: 1;
  margin-right: 850px;
  font-size: 17px;
  margin-top: 78px;
  line-height: 1.5em;
  color: grey;
}

.about-author a{
  color: black;
  text-decoration: none;
}

.about-author a:hover {
  color: white;
  background-color: black;
}

.dropcap h3{
  font-size: 55px;
  float:left;
  margin: 0px 2px 4px 0px;
  font-family: dapiferstencil, serif;
  font-style: normal;
  font-weight: 400;
  margin-top: 43px;
}

body p{
  line-height: 1.7em;
  padding: 0;
  margin: 0;
  margin-top: 50px;
  font-size: 20px;
}

body div{
  line-height: 1.7em;
  padding: 0;
  margin: 0;
  font-size: 20px;
}

body a{
  color: grey;
  text-decoration: none;
}

body a:hover {
  color: white;
  background-color: black;
}

figcaption{
  font-size: 14px;
  color: black;
  position: absolute;
  display:flex;
  flex: 3;
  left: -71%;
  width: 40%;
  margin-top: 6130px;
  line-height: 1.6em;
}

.img1 {
 margin-left: 0;
 position: absolute;
 display:flex;
 flex: 1;
 left: -75%;
 column-width: 200px;
 column-count: 1;
 width: 60%;
 margin-top: 6180px;
}

.cap2{
  font-size: 14px;
  color: black;
  position: absolute;
  display:flex;
  flex: 2;
  left: -71%;
  width: 40%;
  margin-top: 6420px;
  line-height: 1.6em;
}

.img2 {
  margin-left: 0;
  position: absolute;
  display:flex;
  flex: 1;
  left: -75%;
  column-width: 200px;
  column-count: 1;
  width: 60%;
  margin-top: 6470px;
}

.scroll {
  font-size: 40px;
  text-decoration: none;
  position: fixed;
  margin-left: 0;
  left: 6%;
  margin-right: 850px;
  margin-top: 350px;
  color: black;
}

.scroll:hover {
  color:grey;
  background-color: white;
}

::selection {
  background-color: black;
  color: white;
  opacity: 1;
}
