
body {
  /* background-image: linear-gradient(white 11%, grey 70%, white 2%);
  margin-bottom: -50px; */
  background-color: white;
}

a {
  color: grey;
  transition: 0.2s ease-in-out;
}

a:hover {
  color: blue;
}

.img {
  display: flex;
  flex-direction: column;
  flex: 2;
  position: absolute;
  left: 10%;
  top: 47%;
}

img {
  width: 50%;
  margin-bottom: 5%;
}
