
body{
  background-color: white;
}

.img {
  display: flex;
  flex-direction: column;
  flex: 2;
  position: absolute;
  left: 10%;
  top: 57%;
}

img {
  width: 35%;
  margin-bottom: 5%;
}


img:hover{
  transition: 0.3s;
  filter: blur(1px);
}

::selection {
  color:blue;
}

a {
  color: grey;
  transition: .2s ease-in-out;
}

a:hover {
  color: blue;
}
