iframe {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 8%;
  top: 43%;
  z-index: -3;
  border: none;
  margin-top: 100px;
  margin-bottom: 5%;
}

img {
  position: absolute;
  display: flex;
  left: 10.5%;
  top: 100%;
  width: 32%;
  border: 1px solid black;
}

a {
  color: grey;
}
