.dia-bigimg {
position: absolute;
top: 0;
left: 0;
width: 100%;
filter: invert(100);
z-index: 15;
transition: 0.3s ease-in-out;
}

.dia-bigimg:hover {
  opacity:0;
}

h1{
  z-index: 5;
}

main {
  z-index: 5;
}

.img {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 3;
  z-index: 0;
}

img {
  width: 30%;
  display: flex;
  position: absolute;
  left: 10%;
  top: 57%;
}

.dia-img-2{
  top: 100%;
}

.dia-img3 {
  top: 143%;
}
