p {
  font-family: "roboto mono";
  line-height: 1em;
  font-size: 60px;
  display: flex;
  margin: 0;
  color: blue;
}

section {
  font-family: "unit-gothic-717";
  font-size: 60px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 80px;
  color:blue;
}

body {
  display: flex;
  flex-direction: column;
  padding-left: 80px;
  margin-right: 50px;
  cursor: url('../cursors/handopen.png'), auto;
  margin-bottom: 50px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: blue;
  cursor: url('../cursors/bluehandopen.png'), auto;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1.2px solid blue;
  position: fixed;
  left: 82%;
  top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: spinoffPulse 9s infinite linear;
  cursor: url('../cursors/handopen.png'), auto;
  z-index: 2;
}

.circle:hover {
  border: 1.2px solid black;
  cursor: url('../cursors/bluehandopen.png'), auto;
}

.q a {
  font-family: "roboto mono";
  font-weight: 400;
  font-size: 200px;
  z-index: 2;
  color: blue;
}

.q a:hover {
  color: black;
}

.mobile-about-back {
  display: none;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: white;
    /* border-right: 1px solid blue; */
    border-left: 1px solid blue;
}

body::-webkit-scrollbar-thumb {
   border: 1px solid blue;
   border-right: none;
}

@-webkit-keyframes spinoffPulse {
    0% { -webkit-transform:rotate(0deg); }
100% { -webkit-transform:rotate(-360deg); }
}


/* ---------------------------------------------  */

@media only screen and (max-device-width: 500px) and (orientation : portrait) {

  .about-header{
    font-family: "unit-gothic-717";
    font-size: 90px;
    line-height: 1em;
    padding-bottom: 0;
    margin-bottom: 20px;
    color: blue;
    width: 120%;
  }

  .about-body {
    font-family: "roboto mono";
    font-weight: 300;
    line-height: 1.2em;
    font-size: 48px;
    display: flex;
    margin: 0;
    color: blue;
  }

  .circle {
    display: none;
  }

  .mobile_about-home {
    font-family: "niveau-grotesk";
    font-size: 250px;
    color: blue;
    position: relative;
    left: 3vw;
    top: 15vh;

  }

  .desktop-br{
    display: none;
  }
}
