
h1 {
  font-family: "roboto mono";
  font-weight: 300;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.articles {
  display: flex;
  margin-left: 5%;
  position: absolute;
}

nav {
  cursor: url('../cursors/handopen.png'), auto;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

li {
  padding: 80px;
  line-height: 4em;
  align-items: center;
}

a {
  font-family: "unit-gothic-717";
  font-weight: 100;
  font-size: 120px;
  text-decoration: none;
  color: black;
  transition: all 500ms ease;
}

a:hover {
    color: blue;
    cursor: url('../cursors/bluehandopen.png'), auto;
    transition: 0.2s ease-in-out;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1.2px solid black;
  position: absolute;
  left: 78%;
  top: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: spinoffPulse 9s infinite linear;
}

.q {
  font-family: "roboto mono";
  font-weight: 100;
  font-size: 150px;

}

::selection {
  opacity: 0;
}

@-webkit-keyframes spinoffPulse {
    0% { -webkit-transform:rotate(0deg); }
100% { -webkit-transform:rotate(-360deg); }
}
