
h1 {
  font-family: "roboto mono";
  font-weight: 300;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  padding-left: 25%;
}

li {
  padding: 100px;
  line-height: 4em;
}


a {
  font-family: "unit-gothic-717";
  font-weight: 100;
  font-size: 120px;
  text-decoration: none;
  color: black;
  transition: all 500ms ease;
}

span {
  font-family: "unit-gothic-721";
}

a:hover {
    color: blue;

}
