
h1 {
  display: flex;
  flex-direction: column;
  position: absolute;
  font-family: "unit-gothic-717";
  font-size: 60px;
  line-height: .9em;
  padding-bottom: 10px;
  top: 30%;
  left: 50%;
  margin-bottom: 0;
}

.phase_h1 {
  top: 115%;
}

.archive_h1 {
  top: 150%;
}

.subtitle, .vanti_subtitle {
  font-family: "unit-gothic-720";
  font-size: 50px;
}



main {
  font-family: "roboto mono", monospace;
  font-weight: 100;
  font-size: 20px;
  position: absolute;
  left: 50%;
  right: 10%;
  top: 55%;
  margin-bottom: 5%;
  line-height: 1.5em;
  z-index: 0;
}

.phase {
  top: 142%;
}

.archive {
  top: 174%;
}

p {
  color: black;
}

blockquote {
  color: grey;
}

a {
  color: grey;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

a:hover {
  color: blue;
  cursor: grabbing;
}

header {
  padding-right: 20px;
  padding-left: 20px;
  width: 99vw;
  height: 8vh;
  background-color: white;
  position: fixed;
  z-index: 10;
  border-bottom: 0.5px solid blue;
  margin: -8px;
}


.home {
  font-family: "roboto mono";
  font-weight: 200;
  font-size: 70px;
  color: blue;
  position: fixed;
  top: -1%;
  left: 47vw;
}

.fwd {
  font-family: "niveau-grotesk";
  font-weight: 200;
  font-size: 70px;
  position: fixed;
  top: -2%;
  left: 95vw;
  color: blue;
}

.back {
  font-family: "niveau-grotesk";
  font-weight: 200;
  font-size: 70px;
  position: fixed;
  top: -2%;
  color: blue;
}

::selection {
  color: blue;
}


/* IMG -- 01 adaptable type + 04 mcb--------------------  */

.adapt-img, .mcb-img {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 12vw;
  top: 50vh;
  z-index: 3;
  width: 30%;
  margin-bottom: 3%;
}

/* IMG -- 03 muirmcneil + 05 salt + 07 kadist + 08 dia--------------------  */

.muir-img, .salt-img, .kadist-img, .dia-img, .vanti-img, .archive-img {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 12vw;
  top: 56vh;
  z-index: 3;
  width: 30%;
  margin-bottom: 3%;
  border: 1px solid black;
}

.mobile_br {
  display: none;
}

iframe {
  position: absolute;
  left: 8.5vw;
  top: 95vh;
  border: none;
  height: 240px;
}

.dia-img, .vanti-img {
  border: none;
}

.dia-bigimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  filter: invert(100);
  z-index: 15;
  transition: 0.3s ease-in-out;
}

.dia-bigimg:hover {
  opacity:0;
}

.archive_vid {
  position: relative;
  top: -160vh;
  left: 2vw;
  margin-right: 5px;
  margin-bottom: -345px;
}

.archive-img {
  top: 175vh
}


/* VIDEO -- 06 phase --------------------------------------------- */

.phase_vid {
  position: absolute;
  top: 0;
  left: 12vw;s
}


/* MOBILE -------------------------------------------------- */
@media only screen and (max-device-width: 500px) and (orientation : portrait) {

  h1 {
    position: absolute;
    font-family: "unit-gothic-717";
    font-size: 48px;
    line-height: .9em;
    top: 17vh;
    left: 13vw;
    width: 80%;
  }

  .mobile_br {
    display: inline;
  }

  .adapt_h1 {
    font-size: 33px;
    left: 14vw;
    top: 18vh;
  }

  .subtitle {
    font-family: "unit-gothic-720";
    font-size: 44px;
  }

  .mobile-condense {
    font-family: "unit-gothic-720";
    display: inline;
    font-size: 40px;
  }

  .vanti_subtitle {
    display: none;
  }

  /* header---------------------------- */

  header {
    display: none;
  }

  .x {
    font-family: "roboto mono";
    font-weight: 100;
    color: blue;
    font-size: 100px;
    position: fixed;
    top: -1vh;
    left: 5vw;
    z-index: 20;
  }

  .mobile-fwd {
    font-family: "niveau-grotesk";
    font-weight: 200;
    font-size: 82px;
    position: fixed;
    top: -1vh;
    left: 79vw;
    color: blue;
    z-index: 20;
  }

  .fixed_x {
    font-family: "roboto mono";
    font-weight: 100;
    color: blue;
    font-size: 280px;
    position: fixed;
    top: -1vh;
    left: 7vw;
    z-index: 20;
  }

  .fixed_mobile-fwd {
    font-family: "niveau-grotesk";
    font-weight: 200;
    font-size: 240px;
    position: fixed;
    top: -1vh;
    left: 121vw;
    color: blue;
    z-index: 20;
  }

  /* body text---------------------------- */

  main {
    font-family: "roboto mono", monospace;
    font-weight: 300;
    font-size: 19px;
    position: absolute;
    left: 13vw;
    top: 37vh;
    line-height: 1.5em;
    z-index: 0;
    width: 78%;
  }

  .adapt {
    top: 32vh;
  }

  .muir {
    top: 43vh;
  }

  .phase {
    top: 40vh;
  }


/* images ----------------------------------- */
  img {
    margin-bottom: 5%;
    left: 13vw;
    top: 672vh;
    position: relative;
  }

  .adapt-img {
    display: flex;
    flex-direction: column;
    padding-bottom: 3%;
    position: relative;
    top: 368vh;
    width: 80%;
  }

  .muir-img {
    width: 75%;
    border: 1px solid black;
    top: 435vh;
  }

  .mcb-img {
    display: flex;
    flex-direction: column;
    flex: 2;
    z-index: 3;
    width: 80%;
    top: 415vh;
  }

  .salt-img {
    width: 76%;
    top: 258vh;
  }

  .kadist-img {
    width: 80%;
    left: 13vw;
    top: 275vh;
    border: 1px solid black;
  }

  .dia-img {
    display: flex;
    flex-direction: column;
    padding-bottom: 3%;
    position: relative;
    width: 78%;
    left: 13vw;
    top: 295vh;
  }

  .dia-bigimg {
    display: none;
  }

  .vanti-img {
    display: flex;
    flex-direction: column;
    padding-bottom: 3%;
    width: 120%;
    top: 528vh;
  }


  /* iframe & video-------------------------- */

  .kadist-video{
      position: absolute;
      top: 295vh;
      border: none;
      left: 15vw;
      width: 310px;
      height: 310px;
  }


}
