body{
  background-color: #8f9194;
  padding: 50px 0px 0px 50px;
}

.themetext {
  color: #b1b3b6;
  font-family: "Arial";
  font-size: 120px;
}

.themetext:hover {
  color: #0000ff;
}

a {
  color: #000000;
  font-family: "Garamond";
  font-size: 100px;
  text-decoration: none;
}

a:hover {
  color: #8f9194;
}
